[submodule "DasherCore"]
	path = DasherCore
	url = https://github.com/dasher-project/DasherCore.git
[submodule "SharedResources"]
	path = SharedResources
	url = https://github.com/dasher-project/dasher-shared-resources.git
